trigger:
  branches:
    include:
      - main

variables:
  # Container registry service connection established during pipeline creation
  containerRegistry: 'churchbotregistry.azurecr.io'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'

pool:
  vmImage: ubuntu-latest

steps:
  - task: AzureContainerApps@1
    inputs:
      appSourcePath: '$(Build.SourcesDirectory)/ChurchDiscordBot'
      azureSubscription: 'churchbot-service-connection'
      acrName: 'ca4b9dead13bacr.azurecr.io'
      containerAppName: 'churchbotcontainer'
      resourceGroup: 'churchbotrg'
      ingress: 'internal'