trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: AzureContainerApps@1
    inputs:
      appSourcePath: '$(Build.SourcesDirectory)/ChurchDiscordBot'
      azureSubscription: 'churchbot-service-connection'
      acrName: 'ca4b9dead13bacr'
      containerAppName: 'churchbotcontainer'
      resourceGroup: 'churchbotrg'